replicaCount: 1

image:
  repository: nexus.local:5000/myapp
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  hosts:
    - host: myapp.local
      paths:
        - path: /
          pathType: Prefix
